
  .block {
    display: block;
    width: 100%;
    border: none;
    // background-color: rgb(236, 236, 227);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    height: 100%;
  }
  img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: left;
    }
  ion-footer{
    background-color: rgb(219, 219, 218);

  }
  // .chats{
  //   display: block;
  //   width: 100%;
  //   border: none;
  //   background-color: rgb(236, 236, 227);
  //   padding: 14px 28px;
  //   font-size: 16px;
  //   cursor: pointer;
  //   text-align: center;
  //   height: 100%;
  // }
  